
.custom-img {
    width: 100%;
    height: auto; /* Maintain aspect ratio */
    max-height: 500px; /* Set a maximum height */
    object-fit: cover; /* Cover the entire container */
    cursor: pointer;
}
